/**
 * Product Filter by WBW - Admin Beautify Design CSS
 *
 * @version 3.1.7
 * @since   3.1.7
 *
 * @author  woobewoo
 */

/* Custom CSS start */
:root {
	--woobewoo-white: #ffffff;
	--woobewoo-black: #000000;
	--woobewoo-theme-dark: #2c2c2c;
	--woobewoo-color-f4f5f5: #f4f5f5;
	--woobewoo-primary-color: #2d6fff;
	--woobewoo-pro-color: #e1c065;
}
.woobewoo-btn {
	padding: 5px 12px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	min-height: 44px;
}
.woobewoo-btn > *:not(:last-child) {
	margin-right: 8px;
}
.woobewoo-btn,
.woobewoo-btn * {
	color: var(--woobewoo-white);
}
.woobewoo_row {
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
	flex-wrap: wrap;
}
.woobewoo_row > * {
	max-width: 100%;
}
.woobewoo_row::before,
.woobewoo_row::after {
	display: none !important;
}
.woobewoo-btn-primary {
	background-color: var(--woobewoo-primary-color);
}
.woobewoo-inline-block,
.woobewoo-d-inline-block {
	display: inline-block;
}
.woobewoo-d-flex {
	display: flex;
}
.woobewoo-flex-column {
	flex-direction: column;
}
.woobewoo-wdt-100 {
	width: 100%;
}
.woobewoo-max-width-100 {
	max-width: 100%;
}
.woobewoo-max-width-100-i {
	max-width: 100% !important;
}
.woobewoo-flex_auto {
	flex: 0 0 auto;
}
.woobewoo-items-stretch {
	align-items: stretch;
}
.woobewoo-items-center {
	align-items: center;
}
.woobewoo-justify-between {
	justify-content: space-between;
}
.woobewoo-justify-end {
	justify-content: end;
}
.woobewoo-ms-auto {
	margin-left: auto;
}
.woobewoo-relative {
	position: relative;
}
.woobewoo-p-0 {
	padding: 0;
}
.woobewoo-p-24 {
	padding: 24px;
}
.woobewoo-py-24 {
	padding-top: 24px;
	padding-bottom: 24px;
}
.woobewoo-p-0-i {
	padding: 0 !important;
}
.woobewoo-m-0 {
	margin: 0;
}
.woobewoo-m-0-i {
	margin: 0 !important;
}
.woobewoo-mb-3 {
	margin-bottom: 1rem;
}
.woobewoo-ms-2 {
	margin-left: 0.5rem;
}
.wpfFilterVerScroll .editablecat ul {
	margin-top: 6px;
}
#row-tab-filters #wpfChooseFiltersBlock .wpfProLabel:not(.wpfHidden) {
	margin-top: 5px;
	margin-left: 0;
}
#mainContainer .woobewoo-navigation {
	padding-top: 24px;
	padding-left: 24px;
	margin-right: 0;
	min-width: 124px;
	background-color: var(--woobewoo-white);
	z-index: 10;
}
#mainContainer .woobewoo-navigation::after {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 1px;
	background-color: #dbdce1;
	content: "";
	z-index: -1;
}
#mainContainer .woobewoo_logo {
	margin-bottom: 30px;
}
#mainContainer .wpf-gopro {
	background-color: transparent;
}
#mainContainer nav li:not(:last-child) {
	margin-bottom: 16px;
}
#mainContainer nav .menuItem i,
#mainContainer nav .menuItem {
	color: var(--woobewoo-theme-dark);
}
#mainContainer nav .menuItem {
	padding: 16px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	outline: none;
	border: none;
	box-shadow: none;
}
#mainContainer nav .active .menuItem {
	background-color: var(--woobewoo-color-f4f5f5);
}

#containerWrapper .wpfFilterWrapper .wpfCheckbox label {
	width: 100% !important;
	display: flex !important;
}
.wpfRadio input[type="radio"] {
	--bs-form-check-bg: var(--bs-body-bg);
	flex-shrink: 0 !important;

	vertical-align: top !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	background-color: var(--bs-form-check-bg);
	background-image: var(--bs-form-check-bg-image);
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: contain !important;
	-webkit-print-color-adjust: exact !important;
	color-adjust: exact !important;
	print-color-adjust: exact !important;
	border-radius: 50%;
}
.wpfRadio input::before {
	display: none !important;
}
.wpfRadio input[type="radio"]:checked {
	background-color: #0d6efd;
	border-color: #0d6efd;
}
.wpfRadio input[type="radio"]:checked {
	--bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.wpfFilterContent .wpfLiLabel {
	display: flex;
	align-items: center;
}
.wpfFilterContent .wpfLiLabel .wpfFilterTaxNameWrapper,
.wpfFilterContent .wpfLiLabel .wpfValue {
	padding-left: 0 !important;
}
.wpfFiltersTabContents,
.wpfFiltersTabContents .settings-value div:not([class]),
.wpfFiltersTabContents .chosen-container {
	max-width: 100% !important;
}
.wpfFiltersTabContents .settings-value div:not([class]),
.wpfFiltersTabContents .chosen-container ul,
.wpfFiltersTabContents .chosen-container ul li,
.wpfFiltersTabContents .chosen-container,
.wpfFiltersTabContents input:not([type="radio"]):not([type="checkbox"]),
.wpfFiltersTabContents .settings-value,
.wpfFiltersTabContents select {
	width: 100% !important;
}
.wpfFiltersTabContents .settings-value {
	position: relative;
}
.wpfFiltersTabContents .wpfMoveWrap {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 0;
}
.wpfFilterOptions .settings-block-values .settings-value:last-child {
	margin-right: 0;
}
.woobewoo_proLabel {
	background-color: var(--woobewoo-pro-color);
	border-radius: 7px;
	padding: 6px;
	min-height: 28px;
	display: flex;
	align-items: center;
	width: max-content;
}
.woobewoo_proLabel > *:not(:last-child) {
	margin-right: 4px;
}
.woobewoo-tooltip {
	border: 0 !important;
	outline: none !important;
	height: 18px !important;
	width: 18px !important;
	background: transparent !important;
	background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.00016%201.33331C4.32016%201.33331%201.3335%204.31998%201.3335%207.99998C1.3335%2011.68%204.32016%2014.6666%208.00016%2014.6666C11.6802%2014.6666%2014.6668%2011.68%2014.6668%207.99998C14.6668%204.31998%2011.6802%201.33331%208.00016%201.33331ZM8.66683%2012.6666H7.3335V11.3333H8.66683V12.6666ZM10.0468%207.49998L9.44683%208.11331C8.96683%208.59998%208.66683%208.99998%208.66683%209.99998H7.3335V9.66665C7.3335%208.93331%207.6335%208.26665%208.1135%207.77998L8.94016%206.93998C9.18683%206.69998%209.3335%206.36665%209.3335%205.99998C9.3335%205.26665%208.7335%204.66665%208.00016%204.66665C7.26683%204.66665%206.66683%205.26665%206.66683%205.99998H5.3335C5.3335%204.52665%206.52683%203.33331%208.00016%203.33331C9.4735%203.33331%2010.6668%204.52665%2010.6668%205.99998C10.6668%206.58665%2010.4268%207.11998%2010.0468%207.49998Z%22%20fill%3D%22%23636977%22%2F%3E%3C%2Fsvg%3E") !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: 18px !important;
	padding: 0 !important;
	cursor: pointer;
}
.woobewoo-tooltip::before {
	display: none;
}
.wpfNamePadding #wpfFilterTitleShell {
	min-height: 44px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#tabsContainer .button {
	display: flex !important;
	align-items: center !important;
	background-color: transparent !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	padding: 12px 24px !important;
	border-radius: 0 !important;
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
	border: 1px solid transparent !important;
	border-bottom: 0 !important;
	color: #636977 !important;
	max-width: max-content;
	min-height: 48px;
	margin-bottom: 0;
}
#tabsContainer {
	border-bottom: 0 !important;
	position: relative;
	z-index: 10;
}
#tabsContainer::after {
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	content: "";
	bottom: 0;
	background-color: #dbdce1;
	width: 100%;
	z-index: -1;
}
#tabsContainer .button.current {
	border-color: #dbdce1 !important;
	color: #121315 !important;
	background-color: var(--woobewoo-white) !important;
}
#tabsContainer .button > *:not(:last-child) {
	margin-right: 8px !important;
}
.filterSection {
	padding: 0 !important;
}
.selectFiltersMain {
	display: flex;
	flex-wrap: wrap;
}
.selectFiltersMain .woobewooFiltersMainLeftCol {
	width: calc(100% - 300px);
	margin-right: 24px;
}
.selectFiltersMain .woobewooFiltersMainRightCol {
	width: 276px;
}
#wpfFiltersEditForm .tabs-wrapper {
	float: unset !important;
}
.woobewooFiltersParentContainer {
	background-color: var(--woobewoo-white);
}
.woobewooFiltersMainLeftCol .sub-tab-content .row-settings-block {
	padding-bottom: 15px;
	border-bottom: 1px solid #f9fafa;
}
.topBtnsArea {
	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 9;
}
.filterExportImportBtn {
	display: flex;
	align-items: center;
	min-height: 44px;
	font-size: 14px;
	background-color: #dbdce1;
	color: #636977 !important;
	border-radius: 12px;
	padding: 5px 16px;
	cursor: pointer;
	transition: 0.4s;
}
.filterExportImportBtn.export {
	background-color: #636977;
	color: #f9fafa !important;
}
.filterExportImportBtn .pro_label {
	background-color: #d8ad35;
	padding: 3px 10px;
	border-radius: 8px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: 600;
	color: var(--woobewoo-black);
	right: 8px;
	position: absolute;
	top: -12px;
}
.searchIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}
.searchContainer {
	max-width: 240px;
	width: 100%;
}
.searchContainer input {
	padding-left: 40px !important;
}
#wpfTableTblNav_center,
#wpfTableTblNav_right {
	padding: 24px;
}

/* Radio and checkbox design */
.woobewooRadio,
.woobewooCheckbox {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem !important;
	margin-right: 0 !important;
	width: 100%;
}
#wpfAddDialog input[type="radio"],
#wpfAddDialog input[type="checkbox"],
.wpfMainWrapper input[type="radio"],
.wpfMainWrapper input[type="checkbox"],
.woobewooRadio input,
.woobewooCheckbox input {
	outline: none !important;
	width: 18px;
	min-width: 18px;
	height: 18px;
	border: 1px solid #e0e0e0 !important;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
	vertical-align: top;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	print-color-adjust: exact;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	margin-right: 0.5rem;
}
#wpfAddDialog input[type="radio"],
.wpfMainWrapper input[type="radio"],
.woobewooRadio input {
	border-radius: 50%;
}
#wpfAddDialog input[type="radio"]:checked,
#wpfAddDialog input[type="checkbox"]:checked,
.wpfMainWrapper input[type="radio"]:checked,
.wpfMainWrapper input[type="checkbox"]:checked,
.woobewooRadio input:checked,
.woobewooCheckbox input:checked {
	background-color: #303030 !important;
	border-color: #303030 !important;
}
#wpfAddDialog input[type="checkbox"]:checked,
.wpfMainWrapper input[type="checkbox"]:checked,
.woobewooCheckbox input:checked {
	--bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
	background-image: var(--bs-form-check-bg-image);
}
#wpfAddDialog input[type="radio"]:checked,
.wpfMainWrapper input[type="radio"]:checked,
.woobewooRadio input:checked {
	background-size: 10px;
	--bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640' fill='%23fff'%3e%3cpath d='M64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320z'/%3e%3c/svg%3e");
	background-image: var(--bs-form-check-bg-image);
}
#wpfAddDialog input[type="radio"]::before,
#wpfAddDialog input[type="checkbox"]::before,
.wpfMainWrapper input[type="radio"]::before,
.wpfMainWrapper input[type="checkbox"]::before,
.woobewooRadio input::before,
.woobewooCheckbox input::before {
	display: none !important;
}
.woobewooRadio span,
.woobewooCheckbox span {
	display: inline-block;
}
.s-notify {
	z-index: 9999999;
}
@media screen and (max-width: 1300px) {
	.woobewooFiltersMainLeftCol .sub-tab-content {
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (max-width: 1200px) {
	.selectFiltersMain .woobewooFiltersMainLeftCol {
		width: 100%;
		margin-right: 0;
		margin-bottom: 24px;
	}
	.selectFiltersMain .woobewooFiltersMainRightCol {
		width: 100%;
	}
	.woobewooFiltersMainLeftCol .row-settings-block {
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (min-width: 1023px) {
	#mainContainer .woobewoo_logo {
		margin-bottom: 44px;
	}
}
/* Custom CSS end */

.wpfFilterButton.wpfButton,
.wpfClearButton.wpfButton {
	min-height: 40px !important;
	font-size: 16px !important;
}

.woobewoo-wrap {
	padding: 0;
	border: none;
	background-color: #f4f5f5;
}
.woobewoo_logo svg {
	max-width: 48px;
}

/**
 * Breadcrumb CSS.
 */
.breadcrumb_heading {
	padding: 24px;
}
.breadcrumb_heading h2 {
	color: #000000;
	font-weight: 700;
	font-size: clamp(22px, 5vw, 32px);
	text-transform: capitalize;
	margin: 0 0 10px;
	line-height: 140%;
}
.woobewoo-breadcrumbs a {
	font-size: 14px;
	font-weight: 500;
	color: #636977 !important;
}
.woobewoo-breadcrumbs a:first-child {
	padding-left: 0;
}
.woobewoo-breadcrumbs {
	padding: 0;
}
.woobewoo-breadcrumbs .breadcrumbs-separator {
	background-image: url("../img/chevron_right.png");
	background-position: center;
	background-size: 15px;
}

/**
 * Add new filter CSS.
 */
.woobewoo-plugin.ui-dialog {
	border-radius: 24px;
	border: 1px solid #dbdce1;
}
.woobewoo-plugin.ui-dialog .ui-dialog-titlebar {
	padding: 30px 24px !important;
	background: #ffffff !important;
}
.woobewoo-plugin.ui-dialog .ui-dialog-title {
	margin: 0;
	font-weight: bold;
	line-height: 100%;
	color: #000000 !important;
	font-size: clamp(22px, 5vw, 32px);
}
.woobewoo-plugin.ui-dialog .ui-icon-closethick {
	font-size: 14px;
	height: 44px;
	width: 44px;
	border-radius: 50px;
	color: #636977 !important;
	border: 1px solid #dbdce1;
}
.woobewoo-plugin.ui-dialog .ui-button-icon-only .ui-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0 !important;
	margin-left: -31px !important;
}
.woobewoo-plugin.ui-dialog .button.woobewoo-paginate:hover,
.woobewoo-plugin.ui-dialog .button.woobewoo-paginate:focus,
.woobewoo-plugin.ui-dialog .ui-dialog-titlebar-close:hover,
.woobewoo-plugin.ui-dialog .ui-dialog-titlebar-close:focus {
	background: transparent !important;
}
.woobewoo-plugin.ui-dialog .ui-widget-header {
	border-bottom: none !important;
}
.woobewoo-plugin.ui-dialog .ui-dialog-content {
	padding: 14px 24px 0 !important;
}
.woobewoo-plugin.ui-dialog .ui-widget-content.ui-dialog-content {
	color: #1e1e1e !important;
	font-size: clamp(14px, 3vw, 16px);
}
.woobewoo-plugin.ui-dialog .wpfPopupLabel {
	font-weight: 400 !important;
}
.woobewoo-plugin.ui-dialog .wpfPopupLabel span {
	font-size: 12px;
	color: #636977;
}
.woobewoo-plugin.ui-dialog .wpfPopupBlock {
	margin-bottom: 24px !important;
}
.woobewoo-plugin.ui-dialog .wpfPopupBlock #addDialog_title {
	color: #000000 !important;
	height: 42px;
	margin-top: 8px;
	padding: 12px 16px;
	border-radius: 8px !important;
}
.woobewoo-plugin.ui-dialog .wpfPopupBlock #addDialog_title input::placeholder {
	color: #b3b3b3 !important;
}
.woobewoo-plugin.ui-dialog .wpfPopupBlock #addDialog_list {
	margin-top: 24px;
}
.woobewoo-plugin.ui-dialog .wpfPopupBlock #addDialog_list li {
	margin-bottom: 16px;
}
.woobewoo-plugin.ui-dialog .wpfPopupBlock #addDialog_list li:last-child {
	margin-bottom: 0;
}
.woobewoo-plugin.ui-dialog .ui-dialog-buttonpane {
	background-color: #ffffff !important;
	padding: 8px 20px !important;
	border-top: 1px solid #f9fafa;
}
.woobewoo-plugin.ui-dialog .ui-dialog-buttonpane button {
	color: #f9fafa !important;
	height: 40px;
	min-height: 40px;
	font-size: 14px;
	font-weight: 500 !important;
	padding: 0 18px;
	background: #2d6fff !important;
	border-radius: 12px !important;
	transition: all 360ms ease;
}
.woobewoo-plugin.ui-dialog .ui-dialog-buttonpane button:hover {
	background: #0d4cd4 !important;
}
#containerWrapper #gbox_wpfTableTbl {
	border-radius: 12px !important;
	border: 1px solid #dbdce1;
	overflow: hidden;
}
#gbox_wpfTableTbl .ui-state-default.ui-jqgrid-hdiv {
	background: #f9fafa;
	border-bottom: 1px solid #dbdce1 !important;
	padding: 0 30px;
}
#gview_wpfTableTbl .ui-jqgrid-htable th div {
	font-size: 14px;
	font-weight: 500;
	color: #636977 !important;
}
#wpfTableTbl tbody .ui-row-ltr {
	border-bottom: 1px solid #dbdce1 !important;
	padding: 0 30px !important;
}
#containerWrapper .ui-jqgrid tr.ui-row-ltr td {
	padding: 0 30px;
	/* text-align: start !important; */
}

/**
 * Show All filter CSS.
 */
.woobewoo-bar-controls li button#wpfSettingsSaveBtn i,
#wpfFiltersEditForm .wpfSub.tabs-wrapper li a.button i,
#wpfTableTblNavBtnsShell .button-small i {
	margin-right: 6px;
}
#containerWrapper #wpfTableTblNavBtnsShell [title="Export selected"] button,
#containerWrapper #wpfTableTblNavBtnsShell [title="Import tables"] button,
#containerWrapper #wpfTableTblNavBtnsShell [title="Delete selected"] button {
	min-height: 44px;
	padding: 8px 16px;
	border-radius: 8px !important;
}
#containerWrapper #wpfTableTblNavBtnsShell [title="Import tables"] button {
	background: #dbdce1 !important;
	transition: all 360ms ease;
}
#containerWrapper #wpfTableTblNavBtnsShell [title="Export selected"] button {
	background: #636977 !important;
	transition: all 360ms ease;
}
#containerWrapper #wpfTableTblNavBtnsShell [title="Delete selected"] button {
	font-size: 14px !important;
	font-weight: 500 !important;
	line-height: 150% !important;
	color: #f9fafa !important;
	background: #b12224 !important;
	transition: all 360ms ease;
}
#containerWrapper
	#wpfTableTblNavBtnsShell
	[title="Delete selected"]
	button:hover {
	background: #e20a0e !important;
}
#containerWrapper #wpfTableTblNavBtnsShell [title="Import tables"] button a,
#containerWrapper #wpfTableTblNavBtnsShell [title="Export selected"] button a {
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
}
#containerWrapper #wpfTableTblNavBtnsShell [title="Import tables"] button a {
	color: #636977 !important;
}
#containerWrapper #wpfTableTblNavBtnsShell [title="Export selected"] button a {
	color: #f9fafa !important;
}
#containerWrapper #wpfTableTblNavBtnsShell [title="Import tables"] button:hover,
#containerWrapper
	#wpfTableTblNavBtnsShell
	[title="Export selected"]
	button:hover {
	background: #bbbbbd !important;
}
#containerWrapper #wpfTableTblNavBtnsShell .wpf-admin-btn-get-pro::before {
	right: 10px;
	top: -9px;
	color: #000000;
	font-size: 12px;
	line-height: 100%;
	background: #d8ad35;
	border-radius: 8px;
	padding: 0px 8px;
	min-height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#containerWrapper #wpfTableTblSearchTxt {
	min-height: 44px;
	font-size: 16px !important;
	border-radius: 8px !important;
	padding: 21px 12px !important;
}
.woobewoo-plugin .ui-pg-table .ui-pg-input {
	margin: 0px 7px;
	padding: 8px;
	height: 44px !important;
	border-radius: 8px !important;
}
.woobewoo-plugin input[type="text"],
.woobewoo-plugin input[type="search"],
.woobewoo-plugin select,
.woobewoo-plugin button.ms-choice,
.woobewoo-plugin .chosen-container-multi .chosen-choices {
	background-color: #ffffff;
	color: #64808e !important;
	border: 1px solid #d8dfe3;
	min-height: 44px !important;
	font-size: 13px !important;
	outline: none;
	border-radius: 8px !important;
}
.woobewoo-tbl-pagination-shell .ui-pg-table td:last-of-type {
	padding-right: 0 !important;
}
.woobewoo-item #containerWrapper hr {
	border-top: 0 !important;
}

/**
 * Settings CSS.
 */
#wpfSettingsSaveBtn {
	color: #f9fafa;
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
	min-height: 44px;
	padding: 8px 16px;
	border-radius: 8px !important;
	background: #2d6fff;
	transition: all 360ms ease;
}
#wpfSettingsSaveBtn:hover {
	background: #295cca;
}
#wpfSettingsForm .woobewoo-item {
	background: #ffffff;
	padding: 10px 20px 0 20px;
	position: relative;
	min-height: 500px;
	margin: 24px;
	border-radius: 24px;
}
#containerWrapper .form-table th {
	color: #636977;
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
}
#containerWrapper .form-table th span {
	font-size: 12px;
	font-weight: 400;
}
#containerWrapper .form-table tr:not(:last-child) {
	border-bottom: 0;
}
#containerWrapper .fa-question.woobewoo-tooltip,
#containerWrapper .fa-question.woobewoo-tooltip-bottom,
#containerWrapper .fa-question.woobewoo-tooltip-left,
#containerWrapper .fa-question.woobewoo-tooltip-right {
	color: #fff;
	border: 1px solid #d8dfe3;
	background-color: #636977;
	border-radius: 50%;
	margin: 1px 3px 0 3px;
	padding: 1px 3px;
	font-size: 10px;
	height: 16px;
	width: 16px;
	min-width: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.woobewoo-plugin input:not([type="radio"]):not([type="checkbox"]),
.woobewoo-plugin select,
.woobewoo-plugin textarea {
	border-color: #9da2ae !important;
}
.woobewoo-plugin textarea {
	border-radius: 8px !important;
}
.woobewoo-plugin .button,
.woobewoo-plugin .button-primary,
.ui-dialog .button,
.ui-dialog .button-primary,
.ui-button:not(.ui-dialog-titlebar-close),
.wp-core-ui .woobewoo-plugin .button,
.wp-core-ui.woobewoo-plugin .button-primary {
	border-radius: 4px !important;
	color: #fff !important;
	background-color: #2d6fff;
	transition: all 360ms ease;
}
.woobewoo-plugin input[type="text"] {
	padding: 7px 10px;
}
.tooltipster-base.tooltipster-default .tooltipster-content {
	font-size: 12px;
	padding: 8px 10px;
	font-weight: 400 !important;
}
#wpfStartMetaIndexing,
#wpfStartOptimizing {
	max-width: 60px;
}
#wpfFormOptDetails_optimizing_schedule select,
#wpfFormOptDetails_indexing_schedule select {
	margin-bottom: 8px;
}
#wpfFormOptDetails_optimizing_schedule select:last-child,
#wpfFormOptDetails_indexing_schedule select:last-child {
	margin-bottom: 0;
}
@media (min-width: 768px) {
	#wpfFormOptDetails_optimizing_schedule select,
	#wpfFormOptDetails_indexing_schedule select {
		margin-bottom: 0;
	}
	#containerWrapper #wpfTableTblNavBtnsShell .wpf-admin-btn-get-pro::before {
		top: -14px;
	}
}

/**
 * Go Pro CSS.
 */
.wpf-gopro {
	background-image: none !important;
}
#wpbody-content .wpf-gopro {
	padding: 64px 20px;
}
#wpbody-content .wpf-gopro.wpf-gopro-wrapper:not(section.wpf-gopro-bundle) {
	border-bottom: 1px solid #dbdce1;
}
#wpbody-content .wpf-gopro-header-title {
	color: #1e1e1e;
	font-size: clamp(18px, 2.5vw, 24px);
	letter-spacing: -0.02em;
	text-align: start;
}
#wpbody-content .wpf-gopro-header-subtitle {
	margin-top: 8px;
	margin-bottom: 56px;
	color: #757575;
	font-size: clamp(16px, 2.5vw, 20px);
	line-height: 120%;
	text-align: start;
}
#wpbody-content .wpf-gopro-switch {
	align-items: center;
	margin: 0 auto 48px auto;
}
#wpbody-content .wpf-gopro-switch .wpf-gopro-text {
	padding: 8px;
	color: #1e1e1e;
	font-size: 16px;
	font-weight: normal;
}
#wpbody-content .wpf-gopro-switch .wpf-gopro-text.active {
	color: #ffffff !important;
	background: #121315 !important;
	border-radius: 8px;
}
#wpbody-content .wpf-gopro-block {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 24px;
	padding: 32px;
}
#wpbody-content .wpf-gopro-block-row .col-md-4:nth-child(2) .wpf-gopro-block {
	background: #2d6fff !important;
}
#wpbody-content .wpf-gopro-block-row .col-md-4:nth-child(2) .wpf-gopro-buy a {
	color: #001033 !important;
	background-color: #f5f8ff !important;
	transition: all 360ms ease;
}
#wpbody-content
	.wpf-gopro-block-row
	.col-md-4:nth-child(2)
	.wpf-gopro-buy
	a:hover {
	background-color: #efeeee !important;
}
#wpbody-content .wpf-gopro-block-row .col-md-4:nth-child(2) .wpf-gopro-desc {
	color: #f5f8ff !important;
}
#wpbody-content .wpf-gopro-block-row .col-md-4:nth-child(2) .wpf-gopro-price,
#wpbody-content .wpf-gopro-block-row .col-md-4:nth-child(2) .wpf-gopro-title,
#wpbody-content
	.wpf-gopro-block-row
	.col-md-4:nth-child(2)
	.wpf-gopro-desc:not(:last-child)::before {
	color: #f5f8ff !important;
}
#wpbody-content
	.wpf-gopro-block-row
	.col-md-4:nth-child(2)
	.wpf-gopro-desc:last-child {
	padding-top: 45px;
}

#wpbody-content .wpf-gopro-title,
#wpbody-content .wpf-gopro-desc,
#wpbody-content .wpf-gopro-price {
	color: #1e1e1e;
	letter-spacing: -0.02em;
}
#wpbody-content .wpf-gopro-block-header .wpf-gopro-title {
	padding-top: 0;
	padding-bottom: 16px;
}
#wpbody-content .wpf-gopro-block-header .wpf-gopro-price {
	font-size: clamp(36px, 3vw, 48px);
	padding-top: 16px;
	padding-bottom: 16px;
	font-weight: 700;
}
#wpbody-content .wpf-gopro-block-header .wpf-gopro-desc {
	position: relative;
	color: #757575;
	font-size: 16px;
	font-weight: 400;
	padding-top: 12px;
	padding-bottom: 0px;
	padding-left: 14px;
	display: flex;
}
#wpbody-content
	.wpf-gopro-block-header
	.wpf-gopro-desc:not(:last-child)::before {
	content: "•";
	position: absolute;
	left: 0;
	font-size: 18px;
}
#wpbody-content .wpf-gopro-block-header .wpf-gopro-desc:last-child {
	padding-top: 24px;
	text-align: center;
	padding-left: 0;
}
#wpbody-content .wpf-gopro-block-header .wpf-gopro-buy a {
	min-width: 100%;
	font-size: 14px;
	color: #f9fafa !important;
	border-radius: 12px !important;
	background-color: #2d6fff !important;
	border: 0 !important;
	transition: all 360ms ease;
}
#wpbody-content .wpf-gopro-block-header .wpf-gopro-buy a:hover {
	background-color: #2659c8 !important;
}
@media screen and (min-width: 767px) {
	#wpbody-content .wpf-gopro-block-row:not(.wpf-gopro-hidden) {
		display: flex;
		align-items: flex-end;
	}
}

/**
 * Copy icon CSS.
 */
#tableForm #addDialog_titleDuplicate {
	color: #1e1e1e !important;
	padding: 12px 16px !important;
	margin-top: 8px !important;
	border: 1px solid #d9d9d9 !important;
}

/**
 * Edit icon CSS.
 */
.woobewoo-plugin .button,
.woobewoo-plugin .button-primary,
.ui-dialog .button,
.ui-dialog .button-primary,
.ui-button:not(.ui-dialog-titlebar-close),
.wp-core-ui .woobewoo-plugin .button,
.wp-core-ui.woobewoo-plugin .button-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 16px;
	font-size: 14px;
	font-weight: 500 !important;
	color: #f9fafa;
	height: 44px;
	min-height: 44px;
	border-radius: 12px !important;
	background-color: #2d6fff;
}
.wpfNamePadding #wpfFilterTitleWrapLabel {
	color: #1e1e1e;
	font-size: 16px;
	font-weight: normal;
}
.wpfNamePadding #wpfFilterTitleShell {
	padding: 2px 15px !important;
	border-radius: 8px;
	border: 1px solid #d9d9d9 !important;
}
.woobewoo-flat-input,
.wpfShortcodeAdm #wpfCopyTextCodeExamples,
.wpfCopyTextCodeShowBlock .woobewoo-flat-input.woobewoo-width-full {
	padding: 2px 15px !important;
	text-align: start;
	border: 1px solid #d9d9d9 !important;
}
#wpfFiltersEditForm .tabs-wrapper {
	float: left;
	width: 100%;
}
#wpfFiltersEditForm .wpfSub.tabs-wrapper li a.button {
	color: #636977 !important;
	font-weight: normal;
	font-size: 14px;
	height: 30px;
	min-height: 30px;
	line-height: 30px;
	margin: 0;
	border: 0 !important;
	border-bottom-color: 0 !important;
	padding: 21px 24px 17px !important;
	background: transparent;
}
#wpfFiltersEditForm .wpfSub.tabs-wrapper li a.current {
	font-weight: bold !important;
	padding: 21px 24px 17px;
	color: #121315 !important;
	background: #ffffff !important;
	border: 1px solid #dbdce1 !important;
	border-bottom: none !important;
	border-radius: 12px 12px 0 0 !important;
}
#wpfFiltersEditForm .wpfSub.tabs-wrapper li a.button:hover,
#wpfFiltersEditForm .wpfSub.tabs-wrapper li a.button:active,
#wpfFiltersEditForm .wpfSub.tabs-wrapper li a.button:focus {
	background-color: #ffffff !important;
}
#wpfFiltersEditForm .wpfMainTabsContainer .woobewoo_row {
	background: #ffffff !important;
}
.woobewoo-plugin .button,
.woobewoo-plugin .button-primary,
.ui-dialog .button,
.ui-dialog .button-primary,
.ui-button:not(.ui-dialog-titlebar-close),
.wp-core-ui .woobewoo-plugin .button,
.wp-core-ui.woobewoo-plugin .button-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 18px 16px;
	font-size: 14px;
	font-weight: 500 !important;
	color: #f9fafa;
	height: 44px;
	min-height: 44px;
	border-radius: 12px !important;
	background-color: #2d6fff;
}
.wpfFiltersTabContents .sub-tab {
	padding: 4px;
	background: #dbdce1;
	border-radius: 12px;
}
.wpfFiltersTabContents .sub-tab .button.disabled {
	min-height: 36px;
	font-size: 14px;
	font-weight: 500;
	color: #7e8594 !important;
	background: #dbdce1 !important;
	border-radius: 12px;
}
.wpfFiltersTabContents .sub-tab .button:not(.disabled) {
	color: #121315 !important;
	background: #ffffff !important;
}
.woobewoo-color-picker {
	display: flex;
	align-items: center;
	gap: 10px;
}

/**
 * Edit icon CSS filter.
 */
#wpfChooseFiltersBlock,
.wpfFiltersBlock.ui-sortable {
	width: 100%;
}
#wpfChooseFiltersBlock {
	display: flex;
	flex-wrap: wrap;
}
.woobewoo-group-label {
	width: 100%;
	color: #1e1e1e;
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 8px 0;
}
#wpfChooseFilters {
	width: calc(100% - 150px);
}
#wpfAddFilterButton {
	margin-left: 8px;
	max-width: 142px;
}
.wpfFilter .wpfHeaders {
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.wpfFilter .wpfToggle {
	color: #2e3137;
	font-size: 12px;
}
.wpfFilter .wpfDelete {
	order: 5;
	color: #b12224;
}
.wpfFiltersBlock .wpfOptions {
	padding: 16px !important;
}
select.woobewoo-flat-input {
	padding-left: 13px !important;
	padding-right: 25px !important;
}
.row-settings-block {
	display: flex;
	align-items: center;
}
.wpfFiltersBlock {
	margin: 0;
	padding: 15px;
	border-radius: 8px;
	border: 1px solid #dbdce1 !important;
}
.wpfFiltersBlock .wpfFilter {
	width: 100%;
	background: #f8fafb !important;
	border-radius: 8px;
	border: 1px solid #d9d9d9;
}
.wpfFiltersBlock .wpfFilter .wpfFilterTitle {
	color: #636977 !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	padding: 0 !important;
	white-space: normal !important;
	max-width: 200px;
	text-transform: capitalize !important;
}
.wpfFiltersBlockPreview {
	background-color: #ffffff;
	border: 1px solid #d8dfe3;
	border-top: 1px solid #d8dfe3 !important;
	padding: 15px;
	/* margin: 10px -15px 0 !important; */
	overflow: visible;
	visibility: hidden;
	display: flex;
	border-radius: 16px;
}
.wpfFiltersTabContents .woobewoo_row {
	margin-left: 0;
	margin-right: 0;
}
.settings-block-label.settings-w100:last-of-type {
	display: flex;
	flex-direction: column;
}

/**
 * Edit icon CSS option.
 */
.settings-value-label,
.settings-block-label {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	color: #636977;
}
.settings-value-label i,
.settings-block-label i {
	margin-left: 10px !important;
}
.wpfProLabel a {
	display: inline-block;
	padding: 6px 8px;
	font-size: 12px !important;
	font-weight: 600 !important;
	border-bottom: 0 !important;
	background: #e1c065;
	border-radius: 8px;
}
.woobewoo-plugin a,
.tooltipster-content a,
.woobewoo-plugin.ui-widget-content a {
	color: #000000;
}
.woobewoo-plugin a:hover,
.woobewoo-plugin a:focus,
.tooltipster-content a:hover,
.tooltipster-content a:focus,
.woobewoo-plugin.ui-widget-content a:hover,
.woobewoo-plugin.ui-widget-content a:focus {
	color: #000000;
	text-decoration: none;
}

/**
 * Toggle CSS.
 */
.woobewoo-plugin label.toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	min-width: 40px;
	height: 24px;
	background: #9da2ae;
	display: block;
	border-radius: 100px;
	position: relative;
	margin: 2px 0;
}
.woobewoo-plugin input.toggle:checked + label.toggle:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}
.woobewoo-plugin label.toggle:after {
	content: "";
	position: absolute;
	top: 2.5px;
	left: 3px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}
.woobewoo-plugin label.toggle:after {
	content: "";
	position: absolute;
	top: 2.5px;
	left: 3px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

/**
 * Overview CSS.
 */
.woobewoo-item.woobewoo-panel.wpf-overview-panel {
	padding: 24px;
}
.woobewoo-item.woobewoo-panel.wpf-overview-panel .wpf-overview-block {
	overflow: hidden;
	border-radius: 12px;
	border: 1px solid #d9d9d9;
}
.wpf-overview-block-header {
	padding: 24px !important;
	background: #f9f9f9;
	border-bottom: 0 !important;
}
.wpf-overview-block-body {
	padding: 24px !important;
	background: #ffffff;
}
.wpf-overview-block-body .woobewoo_row {
	margin-left: 0px;
	margin-right: 0px;
}
.wpf-overview-block-body label,
.wpf-overview-body-text label {
	color: #1e1e1e;
	font-size: 16px;
	text-align: start;
}
.woobewoo-plugin .wpf-overview-body-text input.wpf-overview-input,
.woobewoo-plugin .wpf-overview-body-text input.wpf-field-fullwidth,
.woobewoo-plugin .wpf-overview-body-text textarea.wpf-field-fullwidth {
	font-size: 16px !important;
	margin-top: 8px;
	margin-bottom: 24px !important;
	border: 1px solid #d9d9d9 !important;
	border-radius: 8px !important;
}
.wpf-overview-body-text input.wpf-field-fullwidth::placeholder,
.wpf-overview-body-text textarea.wpf-field-fullwidth::placeholder {
	color: #b3b3b3;
}
#wpfSubscribeSubmit,
#wpfContactSubmit {
	font-size: 14px;
	font-weight: 500 !important;
	color: #f9fafa !important;
	min-height: 44px;
	background: #2d6fff !important;
	border-radius: 12px !important;
	text-transform: uppercase;
}
.wpf-overview-body-text input.wpf-overview-input,
.wpf-overview-center input.wpf-overview-input {
	width: 100% !important;
}
.wpf-overview-title {
	color: #1e1e1e !important;
	font-weight: 600 !important;
	font-size: clamp(20px, 3vw, 36px) !important;
}
.wpf-overview-body-title a,
.wpf-overview-header-title {
	color: #1e1e1e !important;
	font-weight: 600 !important;
	font-size: clamp(18px, 3vw, 20px) !important;
}
.wpf-overview-header-desc {
	margin-bottom: 0 !important;
	margin-top: 12px !important;
	color: #757575 !important;
	font-size: 14px !important;
}
.wpf-overview-img .wpf-overview-body-text a,
.wpf-overview-img ul li a {
	font-size: 14px;
	color: #757575;
}
.wpf-overview-img {
	margin-bottom: 0 !important;
}
.wpf-overview-flex-custom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wpf-overview-explore-all-plugins a {
	margin-left: 20px;
	white-space: nowrap;
	font-size: 16px;
	font-weight: 500 !important;
	color: #2d6fff !important;
	transition: all 360ms ease;
}
.wpf-overview-explore-all-plugins a:hover {
	color: #1749b5 !important;
}
.wpfStarsRatingLine .wpfRatingStar {
	fill: rgb(255 255 255);
	stroke: #000000;
}
/* Gray out checkboxes initially */
/* Initially gray out the checkboxes and labels */
#addDialog_list input[type="checkbox"]:not(:checked) {
		opacity: 0.5;
		pointer-events: none; /* Prevent interaction with disabled checkboxes */
}

#addDialog_list label {
		color: #999; /* Gray color for labels */
		pointer-events: none; /* Prevent interaction with disabled labels */
}

/* Enable the checkboxes and labels when text is entered */
#addDialog_title:valid + .wpfPopupBlock + .wpfPopupBlock #addDialog_list input[type="checkbox"]:not(:checked),
#addDialog_title:valid + .wpfPopupBlock + .wpfPopupBlock label {
		opacity: 1;
		pointer-events: auto; /* Allow interaction with enabled checkboxes */
}

#addDialog_list input[type="checkbox"]:checked {
		opacity: 1;
		pointer-events: auto;
}

#addDialog_list label {
		color: #333; /* Dark color for labels when enabled */
}
@media (max-width: 768px) {
	.wpf-overview-flex-custom {
		flex-direction: column;
		align-items: flex-start;
	}
	.wpf-overview-explore-all-plugins a {
		margin-left: 0px;
	}
	.wpf-overview-explore-all-plugins {
		margin-top: 20px;
	}
}